비디오 재생 및 목록<br>
{% if user.is_authenticated %}
{{user.username}}님 환영합니다!
{%for video in videos.all%}
    <div class="container">
        <a href ="{% url 'vdetail' video.id %}">반응보기</a>
        <h1>제목: {{video.title}}</h1>
        </a>
        <p> 내용 : {{video.body}}</p>
        <small class="text-muted">{{video.date}}</small>
        <iframe width="420" height="315"
        {% if video.video_key %}
        src="https://www.youtube.com/embed/{{video.video_key}}">
        {%endif%}
        </iframe>
    </div>
{%endfor%}
{%endif%}