body {
	text-align: center;
}
.video {
	display: inline-block;
	width: 75rem;
}
.video .card {
	width: 40rem;
}
.video .card .card-body {
	text-align: left;
}
.card-text {
	vertical-align: middle;
}
.card-text .like {
	display: block;
	overflow: hidden;
	background-image: url("/fulllike-of-filled-heart2.png");
	background-repeat: no-repeat;
    width: 30px;
    text-indent: 101%;
    white-space: nowrap;
    border:0;
    background-color: transparent;
}
#user_logo {
	border-radius: 50%;
	width: 60px
}